/* @import url(./List.css);
@import url(./modal.css);
@import url(./Notes.css); */
@import url(./Login.css);
@import url(./Signup.css);
/* /* @import url(./projects.css); */
@import url(./Header.css);
/* @import url(./Sidebar.css); */
/* @import url(./Container.css);  */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,
ol,
dl {
    margin: 0;
}

img {
    border: none;
    height: 100%;
}

.App {
    height: 100vh;
    font-size: 1rem;
}
